<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <title>Вход</title>
</head>
<body>

<form th:action="@{/index}" method="post" style="display: flex; justify-content: center; align-items:center; flex-direction: column;">
    <div class="button">
        <p class="button"><a href="/board" target="_self">Вход</a></p>
    </div>
</form>

</body>
</html>